    <div class="left-top">
      <div class="user-name"> 
        <%= link_to current_user.name, edit_user_path(current_user) %>
      </div>
      <div class="chat-create">
       <%= link_to "チャットを作成する", new_room_path %>
      </div> 
    </div>   
    <div class="left-bottom">
      <% current_user.rooms.each do |room| %>
      <div class="room1"> 
      <a href='#'><%= room.name %></a>
      </div>
      <% end %>
    </div>