<div class="wrapper">
  
  
  <div class="left-side">
    <%= render "side_bar" %>
    <div class="left-top"></div>
    <div class="left-bottom"></div>
  </div>
  <div class="right-side">
    <%= render "main_chat" %>
    <div class="right-top"></div>
    <div class="right-center"></div>
    <div class="right-bottom"></div>

  </div>




</div>
