<div class="wrapper">
  
  
  <div class="left-side">
    <%= render "side_bar" %>
    <div class="left-top">
      <div class="user-name"> <a href='#'>Tom</a></div>
      <div class="chat-create"> <a href='#'>チャットを作成する</a></div>
    </div>   
    <div class="left-bottom">
      <div class="room1"> <a href='#'>techroom1</a></div>
      <div class="room2"> <a href='#'>techroom2</a></div>
    </div>
   </div>
  <div class="right-side">
    
    <%= render "main_chat" %>
      
  </div>

 



</div>
